<header class="panel-cover {{#if post}}panel-cover--collapsed{{/if}}">
  
  <div class="panel-main">

     <div class="panel-main__inner panel-inverted">
     
     <div class="panel-aside__main">
          <div id="nav-toggle"  class="panel-aside__flag"><span></span>
         </div>
         <div class="panel-aside__content">
         	{{tag_cloud limit="all"}}
         </div>
     </div>
    
    <div class="panel-main__content">
        <div id="mylogo" class="mylogo">
          <ul id="scene" class="scene">
              <li class="layer" data-depth="1.00">
              <a href="/#blog">  
                      <div class="panel-cover__logo logo moon" 
                      {{#if @blog.cover}} style="background-image:url({{@blog.logo}});" {{/if}}>
                      </div>
              </a>
              </li>

          </ul>
        </div>
        
        <h1 class="panel-cover__title panel-title"><a href="http://careytoboo.github.io/careytoboo" title="前往 {{@blog.title}} 的主页">{{@blog.title}}</a></h1>
        <span class="panel-cover__subtitle panel-subtitle">梦存于心，功成于行</span>
        <hr class="panel-cover__divider" />
        {{#if @blog.description}}
            <p class="panel-cover__description">{{@blog.description}}</p>
        {{/if}}
        <!-- <p class="panel-cover__description">IMPOSSIBLE OR I'M POSSIBLE  UP TO YOU  </p> -->
        <hr class="panel-cover__divider panel-cover__divider--secondary" />

        <div class="navigation-wrapper">
          <div>
          <nav class="cover-navigation cover-navigation--primary">
            {{navigation}}
          </nav>
          </div>
          <div>
          {{> social}}
          </div>
        </div>

      </div>
    </div> 
  </div>
    <canvas  id="start-fash"   {{#if @blog.cover}} style="background-image: url({{@blog.cover}});" {{/if}} ></canvas>
</header>

